<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leads Search</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    <link rel= 'stylesheet' type= 'text/css' href= "{{ url_for('static', filename='leads.css')}}">
<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <script>
      $(document).ready(function(){
        console.log('working')
        $(document).on('keyup', 'form', function(event){
          $.post('/leads/search', $(this).serialize(), function(fullList){
            $('#leadresult').html(fullList);
          });
          return false;
        });
        $(document).on('submit', 'form', function(event){
          $.post('/leads/search', $(this).serialize(), function(fullList){
            $('#leadresult').html(fullList);
          });
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div id= "container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>Welcome to the leads generator!</h1>
            <form class= "form form-inline" role= "form" action= "/lead/search" method= 'POST'/>
              <div class="form-group">
                <h6>Name:</h6><input id= "name" type= "text" name= "name" autocomplete="off">
              </div>
              <div class="form-group">
                <h6>From:</h6><input type= "date" name= "from_date"/>
              </div>
              <div class="form-group">
                <h6>Date:</h6><input type= "date" name= "to_date"/>
              </div>
              <div class="form-group">
                <input type= "hidden" name= "page_number"/>
              </div>
              <div class="form-group">
                <input id= "name" type= "hidden" name= "submit"/>
              </div>
            </form>
          </div>
        </nav>
    <div id= "leadresult"></div>
</div>
  </body>
</html>
